<h2>Employee Details</h2> 

<div *ngIf="employeeDetail">
  <div>
    <label><b>First Name: </b></label> {{employeeDetail.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employeeDetail.lastName}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{employeeDetail.gender}}
  </div>
  <div>
    <label><b>Salary: </b></label> {{employeeDetail.salary}}
  </div>
  <div>
    <label><b>Resigned:</b></label> {{employeeDetail.resigned}}
  </div>
  <div>
    <label><b>Supervisor: </b></label> {{employeeDetail.supervisor.firstName}} {{employeeDetail.supervisor.lastName}}
  </div>  
</div>

