.app-title{
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonHome{
  margin-right: 10px;
}

.buttonEmployee{
  margin-right: 10px;
}

.buttonSupervisor{
  margin-right: 10px;
}


