<mat-toolbar color="primary">
    <span class="app-title">SEVEN SEVEN GLOBAL SERVICES INC.</span>
    <button class="buttonHome" mat-raised-button routerLink="home" color="primary"><mat-icon aria-hidden="false">home</mat-icon>HOME</button>
    <button class="buttonEmployee" mat-raised-button routerLink="emp" color="primary"><mat-icon aria-hidden="false">person</mat-icon>Employee</button>
    <button  class="buttonSupervisor" mat-raised-button routerLink="sup" color="primary"><mat-icon aria-hidden="false">person</mat-icon>Supervisor</button>
    
    </mat-toolbar>