.employee-table {
    width: 100%;
}

table {
    width: 100%;
}

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .buttonEmployeeAdd{
    margin-left: 370px;
  }

  .buttonDelete{
    float: right;
    margin-right: 10px;
  }

  .buttonEdit{
    float: right;
    margin-right: 10px;
  }

  .buttonDetails{
    float: right;
    margin-right: 10px;
  }