<h1>View Employees
  <button class="buttonEmployeeAdd" mat-raised-button routerLink="add" color="primary"><mat-icon aria-hidden="false">add</mat-icon>Add Employee</button>
</h1>

<mat-icon aria-hidden="false">search</mat-icon>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  
  <div class="employee-table mat-elevation-z8" >
      
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let employee"> {{employee.id}}</td>
      </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FIRST NAME </th>
        <td mat-cell *matCellDef="let employee"> {{employee.firstName}}</td>
      </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST NAME </th>
        <td mat-cell *matCellDef="let employee"> {{employee.lastName}}</td>
      </ng-container>
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GENDER </th>
        <td mat-cell *matCellDef="let employee"> {{employee.gender}}</td>
      </ng-container>
    <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SALARY </th>
        <td mat-cell *matCellDef="let employee"> {{employee.salary | number:'1.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="resigned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RESIGNED </th>
        <td mat-cell *matCellDef="let employee"> {{employee.resigned}}</td>
      </ng-container>
    <ng-container matColumnDef="supervisor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SUPERVISOR </th>
        <td mat-cell *matCellDef="let employee"> {{employee.supervisor.firstName}} {{employee.supervisor.lastName}}
          
          <button  routerLink="details/{{employee.id}}" class="buttonDetails" mat-raised-button color="primary"><mat-icon aria-hidden="false">info</mat-icon>Details</button>
          <button (click)="xdeleteEmployee(employee.id)" class="buttonDelete" mat-raised-button color="primary"><mat-icon aria-hidden="false">delete</mat-icon>Delete</button>
          <button  routerLink="edit/{{employee.id}}" class="buttonEdit" mat-raised-button color="primary"><mat-icon aria-hidden="false">edit</mat-icon>Edit</button>

        </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
