.supervisor-table {
    width: 80%;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
  }

.mat-form-field {
    font-size: 14px;
    width: 80%;
  }


  .buttonSupervisorAdd{
    margin-left: 350px;
  }

  .buttonDelete{
    float: right;
    margin-right: 10px;
  }

  .buttonEdit{
    float: right;
    margin-right: 10px;
  }

  .buttonDetails{
    float: right;
    margin-right: 10px;
  }