<h1>View Supervisors
<button class="buttonSupervisorAdd" mat-raised-button routerLink="add" color="primary"><mat-icon aria-hidden="false">add</mat-icon>Add Supervisor</button>
</h1>

<mat-icon aria-hidden="false">search</mat-icon>
<mat-form-field>
  <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Search">
</mat-form-field>
  
  <div class="supervisor-table mat-elevation-z8">
      
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let supervisor"> {{supervisor.id}}</td>
      </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FIRST NAME </th>
        <td mat-cell *matCellDef="let supervisor"> {{supervisor.firstName}}</td>
      </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST NAME </th>
        <td mat-cell *matCellDef="let supervisor"> {{supervisor.lastName}}</td>
      </ng-container>
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GENDER </th>
        <td mat-cell *matCellDef="let supervisor"> {{supervisor.gender}}

          <button  routerLink="details/{{supervisor.id}}" class="buttonDetails" mat-raised-button color="primary"><mat-icon aria-hidden="false">info</mat-icon>Details</button>
          <button (click)="xdeleteSupervisor(supervisor.id)" class="buttonDelete" mat-raised-button color="primary"><mat-icon aria-hidden="false">delete</mat-icon>Delete</button>
          <button routerLink="edit/{{supervisor.id}}" class="buttonEdit" mat-raised-button color="primary"><mat-icon aria-hidden="false">edit</mat-icon>Edit</button>

        </td>

        
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
