<h1>Add Employee</h1>

<form [formGroup] = "employeeForm" (ngSubmit)="addEmployee()">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <textarea matInput placeholder="ex. John" formControlName="firstName" required></textarea>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <textarea matInput placeholder="ex. Doe" formControlName="lastName" required></textarea>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select matNativeControl formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Salary</mat-label>
        <textarea matInput placeholder="" formControlName="salary" required></textarea>
      </mat-form-field><br>
      
      <mat-form-field appearance="outline">
        <mat-label>Supervisor</mat-label>
        <mat-select matNativeControl required formControlName="supervisor_id">
          <mat-option *ngFor="let s of supervisors" value="{{s.id}}">{{s.firstName}} {{s.lastName}}</mat-option>
        </mat-select>
      </mat-form-field><br>
      
      <div>
        <button type="submit" mat-raised-button color="primary">Add</button>
      </div>
</form>
