<h1>Edit Supervisor</h1>

<form [formGroup] = "supervisorForm" (ngSubmit)="xeditSupervisor()">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <textarea matInput placeholder="Edit First Name" formControlName="firstName" required></textarea>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <textarea matInput placeholder="Edit Last Name" formControlName="lastName" required></textarea>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select matNativeControl formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field><br>
      
      <div>
        <button type="submit" mat-raised-button color="primary">Update</button>
      </div>
</form>
