<h2>Supervisor Details</h2> 

<div *ngIf="supervisorDetail">
  <div>
    <label><b>First Name: </b></label> {{supervisorDetail.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{supervisorDetail.lastName}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{supervisorDetail.gender}}
  </div>

  <div>
    <br>
    <h4><b>Employees:</b></h4>

    
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

    <div class="employee-table1 mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.id}}</td>
            </ng-container>
          <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> FIRST NAME </th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.firstName}}</td>
            </ng-container>
          <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> LAST NAME </th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.lastName}}</td>
            </ng-container>
          <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> GENDER </th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.gender}}</td>
            </ng-container>
          <ng-container matColumnDef="salary">
              <th mat-header-cell *matHeaderCellDef> SALARY </th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.salary | number:'1.2-2'}}</td>
            </ng-container>
            <ng-container matColumnDef="resigned">
              <th mat-header-cell *matHeaderCellDef> RESIGNED </th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.resigned}}</td>
            </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      </div>

    <!-- <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>Salary</td>
            <td>Resigned</td>
        </tr>
        <tr *ngFor="let e of employeeList">
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.resigned}}</td>
        </tr>

    </table> -->
  </div>
</div>

